<p id="notice"><%= notice %></p>

<h1>Artist Similarities</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Similar artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artist_similarities.each do |artist_similarity| %>
      <tr>
        <td><%= artist_similarity.artist.name %></td>
        <td><%= artist_similarity.similar_artist.name %></td>
        <td><%= link_to 'Show', artist_similarity %></td>
        <td><%= link_to 'Edit', edit_artist_similarity_path(artist_similarity) %></td>
        <td><%= link_to 'Destroy', artist_similarity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist Similarity', new_artist_similarity_path %>
<%= link_to 'Back', root_path %>
