<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Image</th>
      <th>Birth date</th>
      <th>Death date</th>
      <th>Active from</th>
      <th>Active until</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.description %></td>
        <td><%= artist.genre %></td>
        <td><img src="<%= artist.image %>" alt=""></td>
        <td><%= artist.birthDate.year %></td>
        <td><%= artist.deathDate.year %></td>
        <td><%= artist.activeFrom.year %></td>
        <td><%= artist.activeUntil.year %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
<%= link_to 'Back', root_path %>
